body{
  height: 3660px;
  width: 3660px;
}


.container{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
  }
  
  .image{
      width: 100px;
    transition: 0.1s;
    transition-timing-function: ease;
  }
  .image:hover{
      cursor: pointer;
  }
  
  #imageTwo{
    display: none;
  }
  
  #imageThree{
    display: none;
  }

  #imageFour{
    display: none;
    top: 400px;
    left: 160px;
  }

  #imageFive{
    display: none;
    top: 400px;
    left: 260px;
  }

  #image6{
    display: none;
    top: 400px;
    left: 360px;
  }

  #image7{
    display: none;
    top: 400px;
    left: 460px;
  }

  #image8{
    display: none;
    top: 400px;
    left: 560px;
  }

  #image9{
    display: none;
    top: 400px;
    left: 660px;
  }

  #image10{
    display: none;
    top: 400px;
    left: 760px;
  }

  #image11{
    display: none;
    top: 400px;
    left: 860px;
  }

  #image12{
    display: none;
    top: 400px;
    left: 960px;
  }

  #image13{
    display: none;
    top: 400px;
    left: 1060px;
  }

  #image14{
    display: none;
    top: 400px;
    left: 1160px;
  }
  #image15{
    display: none;
    top: 400px;
    left: 1260px;
  }
  #image16{
    display: none;
    top: 400px;
    left: 1360px;
  }
  #image17{
    display: none;
    top: 400px;
    left: 1460px;
  }
  #image18{
    display: none;
    top: 400px;
    left: 1560px;
  }
  #image19{
    display: none;
    top: 400px;
    left: 1660px;
  }
  #image20{
    display: none;
    top: 400px;
    left: 1760px;
  }
  #image21{
    display: none;
    top: 400px;
    left: 1860px;
  }
  #image22{
    display: none;
    top: 400px;
    left: 1960px;
  }
  #image23{
    display: none;
    top: 400px;
    left: 2060px;
  }
  #image24{
    display: none;
    top: 400px;
    left: 2160px;
  }
  #image25{
    display: none;
    top: 400px;
    left: 2260px;
  }

  #image26{
    display: none;
    top: 400px;
    left: 2360px;
  }

  #image27{
    display: none;
    top: 400px;
    left: 2460px;
  }

  #image28{
    display: none;
    top: 400px;
    left: 2560px;
  }
  #image29{
    display: none;
    top: 400px;
    left: 2660px;
  }
  #image30{
    display: none;
    top: 400px;
    left: 2760px;
  }
  #image31{
    display: none;
    top: 400px;
    left: 2860px;
  }
  #image32{
    display: none;
    top: 400px;
    left: 2960px;
  }
  #image33{
    display: none;
    top: 400px;
    left: 3060px;
  }
  #image34{
    display: none;
    top: 400px;
    left: 3160px;
  }
  #image35{
    display: none;
    top: 400px;
    left: 3260px;
  }
  #image36{
    display: none;
    top: 400px;
    left: 3360px;
  }
  #image37{
    display: none;
    top: 400px;
    left: 3460px;
  }
  #image38{
    display: none;
    top: 400px;
    left: 3560px;
  }

  #image39{
    display: none;
    top: 400px;
    left: 3560px;
  }

  #image40{
    display: none;
    top: 600px;
    left: 160px;
  }

  #image41{
    display: none;
    top: 700px;
    left: 350px;
  }
  #image42{
    display: none;
    top: 650px;
    left: 500px;
  }
  #image43{
    display: none;
    top: 750px;
    left: 750px;
  }

  #image44{
    display: none;
    top: 850px;
    left: 600px;
  }

  #image45{
    display: none;
    top: 950px;
    left: 250px;
  }

  #image46{
    display: none;
    top: 1050px;
    left: 450px;
  }

  #image47{
    display: none;
    top: 1150px;
    left: 100px;
  }

  #image48{
    display: none;
    top: 750px;
    left: 450px;
  }
  #image49{
    display: none;
    top: 1050px;
    left: 750px;
  }

  #image50{
    display: none;
    top: 750px;
    left: 450px;
  }

  #image51{
    top: 50px;
    left: 500px;
  }
x

  #image52{
    display: none;
    top: 100px;
    left: 10px;
  }
  #image53{
    display: none;
    top: 250px;
    left: 150px;
  }
  #image54{
    display: none;
    top: 370px;
    left: 75px;
  }
  #image55{
    display: none;
    top: 480px;
    left: 200px;
  }
  #image56{
    display: none;
    top: 550px;
    left: 20px;
  }
  #image57{
    display: none;
    top: 650px;
    left: 150px;
  }
  #image58{
    display: none;
    top: 690px;
    left: 355px;
  }
  #image59{
    display: none;
    top: 50px;
    left: 500px;
  }

  #image60{
    top: 50px;
    left:0px;
  }
  #image61{
    top: 50px;
    left: 100px;
  }
  #image62{
    top: 50px;
    left: 200px;
  }
  #image63{
    top: 50px;
    left: 300px;
  }
  #image64{
    top: 50px;
    left: 400px;
  }

  
  #image69{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image70{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image71{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image72{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image73{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image74{
    display: none;
    top: 50px;
    left: 400px;
  }
  #image75{
    display: none;
    top: 50px;
    left: 400px;
  }

  #image76{
    top: 50px;
    left: 50px;
  }

  #image77{
    display: none;
    top: 200px;
    left: 100px;
  }

  #image78{
    display: none;
    top: 300px;
    left: 250px;
  }

  #image79{
    display: none;
    top: 500px;
    left: 50px;
  }

  #image80{
    display: none;
    top: 600px;
    left: 400px;
  }
  #image81{
    display: none;
    top: 150px;
    left: 800px;
  }
 
  .bigcont{
    position: absolute;
    background-color: black;
    width: 300px;
    height: 300px;
  }

  .bigimage{
    width: 300px;
    transition: 0.1s;
    transition-timing-function: ease;
  }
  .bigcont:hover{
    cursor: pointer;
  }

  .bigger{
    position: absolute;
    background-color: black;
    width: 600px;
    height: 600px;
  }
  .biggerimage{
    width: 600px;
    transition: 0.1s;
    transition-timing-function: ease;
  }

  .bigger:hover{
    cursor: pointer;
  }
  .biggercont:hover{
    cursor: pointer;
  }